@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$main-font: 'Raleway', sans-serif;

$purple: #413C58;
$green: #61988E;
$silver: #EDE6E3;
$grey: #DADAD9;
$white: #FBFBFB;
$red: #F06449;
$black: #0F0F0F;
$pinkPurlple: #BCABAE;

$background-color: $purple;
$main-container-background: $white;
